<div>
   <div class="workshop-details-view" >
    <h2>{{title}}</h2>
     <div  class="data-list">
        <h3><b><u>Name:</u></b>  {{workshop[1]}} </h3>
        <h3><b><u>Instructor:</u></b> {{workshop[2]}} </h3>
        <h3><b><u>Address:</u></b> {{workshop[3]}} </h3>
        <h3><b><u>start date:</u></b> {{workshop[4]}} </h3>
        <h3><b><u>end date:</u></b> {{workshop[5]}} </h3>
        <h3><b><u>start time:</u></b> {{workshop[6]}} </h3>
        <h3><b><u>end time:</u></b> {{workshop[7]}} </h3>
        <button>Register</button>
      </div> 
   </div>
    
</div>
   