<div class="card-container">
    <div >
        <h3>SIGN UP:</h3>
        <div class="card">
            <label>user name : </label> <input type="text">
        </div>
        <div class="card">
            <label>email : </label> <input type="text">
        </div>
        <div class="card">
            <label>password : </label> <input type="password">
        </div>
        <div class="card">
            <label>contfirm pass : </label> <input type="password">
        </div>
        <div class="card">
            <label>telephon : </label> <input type="tel">
        </div>
        
    </div>
</div>